{
  "openapi": "3.0.3",
  "info": {
    "title": "Omie OpenAp",
    "description": "\n\u003ca href=\"https://github.com/giuliano-macedo/omie-docs\"\u003e\u003csvg height=\"16\" aria-hidden=\"true\" viewBox=\"0 0 16 16\" version=\"1.1\" width=\"16\" data-view-component=\"true\" class=\"octicon octicon-mark-github v-align-middle color-fg-default\"\u003e\n\t\t\u003cpath d=\"M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z\"\u003e\u003c/path\u003e\n\u003c/svg\u003e\u003c/a\u003e\nDocumentação openapi não oficial da API da Omie \u003cbr /\u003e\n\n\u003ch2\u003eAtenção\u003c/h2\u003e\n\u003cul\u003e\n\u003cli\u003e\n\tTodo endpoint nessa documentação utiliza URL Fragments (\u003ccode\u003e#\u003c/code\u003e no final do endpoint), a fim de desviar do problema de endpoints duplicados sendo definidos no openapi (mais informações \u003ca href=\"https://github.com/OAI/OpenAPI-Specification/issues/1635\"\u003eaqui\u003c/a\u003e), isso não deve ser transferido para o servidor por padrão, mas considere remover eles em sua aplicação.\n\u003c/li\u003e\u003cbr /\u003e\n\u003cli\u003e\n\tPreencha os campos \u003ccode\u003e{{app_key}}\u003c/code\u003e e \u003ccode\u003e{{app_secret}}\u003c/code\u003e com os valores da sua conta\n\u003c/li\u003e\n",
    "version": "0.0.1"
  },
  "externalDocs": {
    "description": "Documentação original das APIs",
    "url": "https://developer.omie.com.br/service-list/"
  },
  "servers": [
    {
      "url": "https://app.omie.com.br/api/v1",
      "description": "Servidor de produção"
    }
  ],
  "tags": [
    {
      "name": "Clientes, Fornecedores, Transportadoras, etc",
      "description": "Cria/edita/consulta o cadastro de clientes, fornecedores, transportadoras, etc",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/clientes/"
      }
    },
    {
      "name": "Clientes - Características",
      "description": "Cria/edita/consulta características de clientes",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/clientescaract/"
      }
    },
    {
      "name": "Tags",
      "description": "Cria/edita/consulta tags quem são usadas no cadastro de clientes, fornecedores, etc",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/clientetag/"
      }
    },
    {
      "name": "Projetos",
      "description": "Cria/edita/consulta projetos",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/projetos/"
      }
    },
    {
      "name": "Empresas",
      "description": "Lista o cadastro da empresa",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/empresas/"
      }
    },
    {
      "name": "Departamentos",
      "description": "Lista o cadastro de departamentos",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/departamentos/"
      }
    },
    {
      "name": "Categorias",
      "description": "Lista o cadastro de categorias",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/categorias/"
      }
    },
    {
      "name": "Parcelas",
      "description": "Lista as parcelas cadastradas",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/parcelas/"
      }
    },
    {
      "name": "Tipos de Atividade da Empresa",
      "description": "Lista os tipos de atividade da empresa",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/tpativ/"
      }
    },
    {
      "name": "CNAE",
      "description": "",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/cnae/"
      }
    },
    {
      "name": "Cidades",
      "description": "Lista o cadastro de cidades",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/cidades/"
      }
    },
    {
      "name": "Países",
      "description": "Lista o cadastro de países",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/paises/"
      }
    },
    {
      "name": "Tipos de Anexos",
      "description": "Consulta Tipos de Anexos",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/tiposanexo/"
      }
    },
    {
      "name": "Documentos Anexos",
      "description": "Criar/edita/consulta e exclui documentos anexos",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/anexo/"
      }
    },
    {
      "name": "Tipo de Entrega",
      "description": "Criar/edita/consulta e exclui tipo de entrega de fornecedores",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/tiposentrega/"
      }
    },
    {
      "name": "Tipo de Assinante",
      "description": "Lista os Tipos de Assinante",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/tipoassinante/"
      }
    },
    {
      "name": "Contas",
      "description": "Cria/edita/consulta Contas",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/contas/"
      }
    },
    {
      "name": "Contas - Características",
      "description": "Cria/edita/consulta caracterísitcas da conta",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/contascaract/"
      }
    },
    {
      "name": "Contatos",
      "description": "Cria/edita/consulta Contatos",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/contatos/"
      }
    },
    {
      "name": "Oportunidades",
      "description": "Cria/edita/consulta Oportunidades",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/oportunidades/"
      }
    },
    {
      "name": "Oportunidades - Resumo",
      "description": "Resumo de Oportunidades",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/oportunidades-resumo/"
      }
    },
    {
      "name": "Tarefas",
      "description": "Cria/edita/consulta Tarefas",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/tarefas/"
      }
    },
    {
      "name": "Tarefas - Resumo",
      "description": "Resumo de Tarefas",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/tarefas-resumo/"
      }
    },
    {
      "name": "Soluções",
      "description": "Lista das soluções ofertadas através do CRM",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/solucoes/"
      }
    },
    {
      "name": "Fases",
      "description": "Lista as fases da oportunidade",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/fases/"
      }
    },
    {
      "name": "Usuários",
      "description": "Lista dos usuários do CRM",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/usuarios/"
      }
    },
    {
      "name": "Status",
      "description": "Lista status possíveis de uma oportunidade",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/status/"
      }
    },
    {
      "name": "Motivos",
      "description": "Lista motivos de conclusão de uma oportunidade",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/motivos/"
      }
    },
    {
      "name": "Tipos",
      "description": "Lista os tipos disponíveis de uma oportunidade",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/tipos/"
      }
    },
    {
      "name": "Parceiros",
      "description": "Lista dos parceiros e equipes",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/parceiros/"
      }
    },
    {
      "name": "Finders",
      "description": "Lista dos finders cadastrados",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/finders/"
      }
    },
    {
      "name": "Origens",
      "description": "Lista de origens disponíveis para a oportunidade",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/origens/"
      }
    },
    {
      "name": "Concorrentes",
      "description": "Lista dos concorrentes cadastrados",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/concorrentes/"
      }
    },
    {
      "name": "Verticais",
      "description": "Lista das verticais atendidas",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/verticais/"
      }
    },
    {
      "name": "Vendedores",
      "description": "Cria/edita/consulta o cadastro de vendedores",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/usuarios/"
      }
    },
    {
      "name": "Telemarketing",
      "description": "Lista dos atendentes de telemarketing",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/usuarios/"
      }
    },
    {
      "name": "Pré-Vendas",
      "description": "Lista dos usuários de pré-venda",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/usuarios/"
      }
    },
    {
      "name": "Tipos de Tarefas",
      "description": "Criar/edita/consulta e exclui Tipos de Tarefas",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/crm/tipostarefa/"
      }
    },
    {
      "name": "Contas Correntes",
      "description": "Cria/edita/consulta o cadastro de contas correntes",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/contacorrente/"
      }
    },
    {
      "name": "Contas Correntes - Lançamentos",
      "description": "Cria/edita/consulta lançamentos na conta corrente",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/financas/contacorrentelancamentos/"
      }
    },
    {
      "name": "Contas a Pagar - Lançamentos",
      "description": "Cria/edita/consulta títulos a pagar",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/financas/contapagar/"
      }
    },
    {
      "name": "Contas a Receber - Lançamentos",
      "description": "Cria/edita/consulta títulos a receber",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/financas/contareceber/"
      }
    },
    {
      "name": "Contas a Receber - Boletos",
      "description": "Gera/Obtém/Prorroga e Cancela Boletos de um título a receber",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/financas/contareceberboleto/"
      }
    },
    {
      "name": "Contas a Receber - PIX",
      "description": "Gera um PIX para um contas a receber do Omie.CASH",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/financas/pix/"
      }
    },
    {
      "name": "Extrato de Conta Corrente",
      "description": "Listagem do extrato de conta corrente",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/financas/extrato/"
      }
    },
    {
      "name": "Orçamento de Caixa",
      "description": "Listagem do orçamento de caixa (Previsto x Realizado)",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/financas/caixa/"
      }
    },
    {
      "name": "Pesquisar Títulos",
      "description": "Lista de títulos a pagar e receber",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/financas/pesquisartitulos/"
      }
    },
    {
      "name": "Movimentos Financeiros",
      "description": "Consulta de pagamentos, baixas, lançamentos no Conta Corrente.",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/financas/mf/"
      }
    },
    {
      "name": "Resumo",
      "description": "Resumo do Fechamento Contábil",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/financas/resumo/"
      }
    },
    {
      "name": "Bancos",
      "description": "Lista o cadastro de instituições bancárias",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/bancos/"
      }
    },
    {
      "name": "Tipos de Documento",
      "description": "Lista os tipos de documentos",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/tiposdoc/"
      }
    },
    {
      "name": "Tipos de Contas Correntes",
      "description": "Lista os tipos de contas correntes",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/tipocc/"
      }
    },
    {
      "name": "Contas do DRE",
      "description": "Lista as Contas do DRE",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/dre/"
      }
    },
    {
      "name": "Finalidade de Transferência",
      "description": "Lista as Finalidades de Transferência do CNAB",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/finaltransf/"
      }
    },
    {
      "name": "Origem do títulos",
      "description": "Lista as origens dos títulos",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/origemlancamento/"
      }
    },
    {
      "name": "Bandeiras de Cartão",
      "description": "Lista as Bandeiras de Cartão de débito e crédito",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/bandeiracartao/"
      }
    },
    {
      "name": "Produtos",
      "description": "Cria/edita/consulta produtos",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/produtos/"
      }
    },
    {
      "name": "Produtos - Características",
      "description": "Cria/edita/consulta características de um determinado produto",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/prodcaract/"
      }
    },
    {
      "name": "Produtos - Estrutura",
      "description": "Consulta estrutura de um determinado produto",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/malha/"
      }
    },
    {
      "name": "Produtos - Kit",
      "description": "Edita kit de produtos",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/produtoskit/"
      }
    },
    {
      "name": "Requisições de Compra",
      "description": "Cria/edita/consulta requisições de compra",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/requisicaocompra/"
      }
    },
    {
      "name": "Pedidos de Compra",
      "description": "Cria/edita/consulta pedidos de compra",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/pedidocompra/"
      }
    },
    {
      "name": "Ordens de Produção",
      "description": "Cria/edita/consulta ordens de produção",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/op/"
      }
    },
    {
      "name": "Nota de Entrada",
      "description": "Cria/EditaConsulta Notas de Entrada",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/notaentrada/"
      }
    },
    {
      "name": "Nota de Entrada - Faturamento",
      "description": "Operações de faturamento de Notas de Entrada",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/notaentradafat/"
      }
    },
    {
      "name": "Recebimento de Nota Fiscal",
      "description": "Edita os dados do Recebimento de uma NF-e",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/recebimentonfe/"
      }
    },
    {
      "name": "Resumo",
      "description": "Resumo do Fechamento Contábil",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/compras-resumo/"
      }
    },
    {
      "name": "Familias de Produto",
      "description": "Cria/edita/consulta famílias de produto",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/familias/"
      }
    },
    {
      "name": "Unidades",
      "description": "Consulta unidades de medida",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/unidade/"
      }
    },
    {
      "name": "Compradores",
      "description": "Consulta lista de compradores cadastrados",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/estoque/comprador/"
      }
    },
    {
      "name": "Produto x Fornecedor",
      "description": "Lista relação entre produtos e fornecedores",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/estoque/produtofornecedor/"
      }
    },
    {
      "name": "Formas de Pagamento",
      "description": "Lista as formas de pagamento",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/formaspagcompras/"
      }
    },
    {
      "name": "NCM",
      "description": "Lista/consulta de códigos NCM (Nomenclatura Comum do Mercosul)",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/ncm/"
      }
    },
    {
      "name": "Cenário de Impostos",
      "description": "Lista os Cenários de Impostos",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/cenarios/"
      }
    },
    {
      "name": "CFOP",
      "description": "",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/cfop/"
      }
    },
    {
      "name": "CNAE",
      "description": "",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/cnae/"
      }
    },
    {
      "name": "ICMS -  CST",
      "description": "",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/icmscst/"
      }
    },
    {
      "name": "ICMS - CSOSN",
      "description": "",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/icmscsosn/"
      }
    },
    {
      "name": "ICMS - Origem da Mercadoria",
      "description": "",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/icmsorigem/"
      }
    },
    {
      "name": "PIS - CST",
      "description": "",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/piscst/"
      }
    },
    {
      "name": "COFINS - CST",
      "description": "",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/cofinscst/"
      }
    },
    {
      "name": "IPI - CST",
      "description": "",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/ipicst/"
      }
    },
    {
      "name": "IPI - Enquadramento",
      "description": "",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/ipienq/"
      }
    },
    {
      "name": "Tipo de Cálculo",
      "description": "",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/tpcalc/"
      }
    },
    {
      "name": "CEST",
      "description": "",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/cest/"
      }
    },
    {
      "name": "Ajustes de Estoque",
      "description": "Cria/exclui movimentações do estoque",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/estoque/ajuste/"
      }
    },
    {
      "name": "Consulta Estoque",
      "description": "Consulta consolidada do estoque do produto",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/estoque/consulta/"
      }
    },
    {
      "name": "Movimento Estoque",
      "description": "Lista os movimentos de estoque de entrada/saida por período",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/estoque/movestoque/"
      }
    },
    {
      "name": "Locais de Estoque",
      "description": "Listagem dos Locais de Estoque",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/estoque/local/"
      }
    },
    {
      "name": "Resumo do Estoque",
      "description": "Resumo do Estoque de um produto",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/estoque/resumo/"
      }
    },
    {
      "name": "Pedidos de Venda - Resumido",
      "description": "Adiciona pedidos e itens de venda de produto",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/pedidovenda/"
      }
    },
    {
      "name": "Pedidos de Venda",
      "description": "Cria/edita/consulta pedidos e orçamentos",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/pedido/"
      }
    },
    {
      "name": "Pedidos de Venda - Faturamento",
      "description": "Operações de faturamento de pedido",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/pedidovendafat/"
      }
    },
    {
      "name": "Pedidos de Venda - Etapas",
      "description": "Consulta das etapas de pedido",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/pedidoetapas/"
      }
    },
    {
      "name": "CT-e / CT-e OS",
      "description": "Adiciona/Cancela Conhecimento de Transporte",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/cte/"
      }
    },
    {
      "name": "Remessa de Produtos",
      "description": "Cria/edita uma NF de remessa de produto",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/remessa/"
      }
    },
    {
      "name": "Remessa de Produtos - Faturamento",
      "description": "Operações de faturamento da Remessa",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/remessafat/"
      }
    },
    {
      "name": "Resumo",
      "description": "Resumo do Fechamento Contábil",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/vendas-resumo/"
      }
    },
    {
      "name": "Obter Documentos",
      "description": "Disponibiliza PDF e XML de documentos fiscais (NFS-e, Recibo, Via Única, etc)",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/dfedocs/"
      }
    },
    {
      "name": "Produtos",
      "description": "Cria/edita/consulta produtos",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/produtos/"
      }
    },
    {
      "name": "Produtos - Características",
      "description": "Cria/edita/consulta características de um determinado produto",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/prodcaract/"
      }
    },
    {
      "name": "Produtos - Kit",
      "description": "Edita kit de produtos",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/produtoskit/"
      }
    },
    {
      "name": "Adicionar",
      "description": "Adicionar cupom fiscal/NFC-e/CF-e SAT",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/cupomfiscalincluir/"
      }
    },
    {
      "name": "Cancelar ou excluir",
      "description": "Cancelar/excluir/inutilizar cupons fiscais",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/cupomfiscal/"
      }
    },
    {
      "name": "Consultar",
      "description": "Consultas de Cupom Fiscal",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/cupomfiscalconsultar/"
      }
    },
    {
      "name": "Importar NFC-e",
      "description": "Importação de XML de NFC-e",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/nfce/"
      }
    },
    {
      "name": "Importar CFe-Sat",
      "description": "Importação de XML de CFe-Sat",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/sat/"
      }
    },
    {
      "name": "Vendedores",
      "description": "Cria/edita/consulta o cadastro de vendedores",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/vendedores/"
      }
    },
    {
      "name": "Formas de Pagamento",
      "description": "Lista as formas de pagamento",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/formaspagvendas/"
      }
    },
    {
      "name": "Tabela de Preços",
      "description": "Cria/edita/consulta tabelas de preço usadas no pedido de venda",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/tabelaprecos/"
      }
    },
    {
      "name": "Características de produtos",
      "description": "Cria/edita/consulta características que serão usadas nos produtos",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/caracteristicas/"
      }
    },
    {
      "name": "NCM",
      "description": "Lista/consulta de códigos NCM (Nomenclatura Comum do Mercosul)",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/ncm/"
      }
    },
    {
      "name": "Etapas de Faturamento",
      "description": "Lista as etapas do faturamento",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/etapafat/"
      }
    },
    {
      "name": "Cenário de Impostos",
      "description": "Lista os Cenários de Impostos",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/cenarios/"
      }
    },
    {
      "name": "Meios de Pagamento",
      "description": "Listagem de meios de pagamentos (parcelas)",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/meiospagamento/"
      }
    },
    {
      "name": "Origem do Pedido",
      "description": "Lista as origens de pedidos disponíveis",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/origempedido/"
      }
    },
    {
      "name": "Motivos de Devolução",
      "description": "Lista os Motivos de Devolução",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/motivodevolucao/"
      }
    },
    {
      "name": "Consultas",
      "description": "Listagem de NFS-e emitidas",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/nfconsultar/"
      }
    },
    {
      "name": "Utilitários",
      "description": "Recupera URL da NF-e (XML), do Danfe ou do logotipo da empresa",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/notafiscalutil/"
      }
    },
    {
      "name": "Importar",
      "description": "Importação de XML de NF-e",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/nfe/"
      }
    },
    {
      "name": "Serviços",
      "description": "Cria/edita/consulta serviços prestados pela empresa",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/servico/"
      }
    },
    {
      "name": "Ordens de Serviço",
      "description": "Cria/edita/consulta uma ordem de serviço",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/os/"
      }
    },
    {
      "name": "Ordens de Serviço - Faturamento",
      "description": "Operações de faturamento de OS",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/osp/"
      }
    },
    {
      "name": "Ordens de Serviço - Fat. em Lote",
      "description": "Faturamento de Ordens de Serviço em Lote",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/oslote/"
      }
    },
    {
      "name": "Contratos de Serviço",
      "description": "Cria/edita/consulta contratos de serviço (recorrência)",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/contrato/"
      }
    },
    {
      "name": "Contratos de Serviço - Faturamento",
      "description": "Operações de faturamento do Contrato de Serviço",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/contratofat/"
      }
    },
    {
      "name": "Contratos de Serviço - Fat. em Lote",
      "description": "Faturamento de Contratos de Serviço em Lote",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/contratolote/"
      }
    },
    {
      "name": "Resumo",
      "description": "Resumo do Fechamento Contábil",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/resumo/"
      }
    },
    {
      "name": "Obter Documentos",
      "description": "Disponibiliza PDF e XML de documentos fiscais (NFS-e, Recibo, Via Única, etc)",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/osdocs/"
      }
    },
    {
      "name": "Consultas",
      "description": "Listagem de NFS-e emitidas",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/nfse/"
      }
    },
    {
      "name": "Vendedores",
      "description": "Cria/edita/consulta o cadastro de vendedores",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/geral/vendedores/"
      }
    },
    {
      "name": "Serviços no Município",
      "description": "Lista serviços disponíveis para o município",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/listaservico/"
      }
    },
    {
      "name": "Tipos de Tributação",
      "description": "Lista os tipos de tributação",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/tipotrib/"
      }
    },
    {
      "name": "LC 116",
      "description": "Lista os códigos da Lei Complementar 116",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/lc116/"
      }
    },
    {
      "name": "NBS",
      "description": "Lista os códigos de Nomenclatura Brasileira Serviços (NBS)",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/nbs/"
      }
    },
    {
      "name": "IBPT",
      "description": "Lista de impostos definidos na tabela do IBPT",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/ibpt/"
      }
    },
    {
      "name": "Formas de Pagamento",
      "description": "Lista as formas de pagamento",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/formaspagvendas/"
      }
    },
    {
      "name": "Tipo de Faturamento de Contrato",
      "description": "Lista os tipos de faturamento de contratos",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/contratotpfat/"
      }
    },
    {
      "name": "Etapas de Faturamento",
      "description": "Lista as etapas do faturamento",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/produtos/etapafat/"
      }
    },
    {
      "name": "Tipo de utilização",
      "description": "Lista os Tipos de utilização",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/tipoutilizacao/"
      }
    },
    {
      "name": "Classificação do Serviço",
      "description": "Lista as Classificações do Serviço",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/servicos/classificacaoservico/"
      }
    },
    {
      "name": "Documentos Fiscais",
      "description": "Listagem dos XMLs de Documentos Fiscais (NF-e/NFC-e/CF-e SAT/NFS-e)",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/contador/xml/"
      }
    },
    {
      "name": "Resumo",
      "description": "Resumo do Fechamento Contábil",
      "externalDocs": {
        "description": "Documentação original",
        "url": "https://app.omie.com.br/api/v1/contador/resumo/"
      }
    }
  ],
  "paths": {
    "/contador/resumo/#ObterResumoContador": {
      "post": {
        "tags": ["Resumo"],
        "description": "Obtem o resumo do painel do contador.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ObterResumoContador"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/contador.resumo.ObterResumoContadorRequest"
                    },
                    "example": [{ "dDataFim": "", "dDataInicio": "" }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contador.resumo.ObterResumoContadorResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/contador/xml/#ListarDocumentos": {
      "post": {
        "tags": ["Documentos Fiscais"],
        "description": "Lista de XMLs de Documentos Fiscais.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ListarDocumentos"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/contador.xml.xmlListarDocumentosRequest"
                    },
                    "example": [
                      {
                        "cModelo": "55",
                        "dEmiFinal": "",
                        "dEmiInicial": "",
                        "nPagina": 1,
                        "nRegPorPagina": 20
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contador.xml.xmlListarDocumentosResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/concorrentes/#ListarConcorrentes": {
      "post": {
        "tags": ["Concorrentes"],
        "description": "Concorrentes da oportunidade.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ListarConcorrentes"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.concorrentes.concorrenteListarRequest"
                    },
                    "example": [{ "pagina": 1, "registros_por_pagina": 20 }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.concorrentes.concorrenteListarResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contas/#AlterarConta": {
      "post": {
        "tags": ["Contas"],
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["AlterarConta"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contas.cadastros"
                    },
                    "example": [
                      {
                        "endereco": {
                          "cCEP": "04583-110",
                          "cCidade": "SAO PAULO",
                          "cEndereco": "Av. Dr. Chucri Zaidan, 1550",
                          "cPais": "Brasil",
                          "cUF": "SP"
                        },
                        "identificacao": {
                          "cCodInt": "20985",
                          "cNome": "Omiexperience S/A",
                          "cObs": "Conta adicionada via API",
                          "dDtReg": "27/04/2024",
                          "dDtValid": "17/10/2024"
                        },
                        "telefone_email": {
                          "cDDDTel": "11",
                          "cEmail": "ajuda@omie.com.br",
                          "cNumTel": "5171-8888",
                          "cWebsite": "http://www.omie.com.br/"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contas.CRM_CONTAS_RESPOSTA"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contas/#ConsultarConta": {
      "post": {
        "tags": ["Contas"],
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ConsultarConta"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contas.CRM_CONTAS_PESQUISA"
                    },
                    "example": [{ "cCodInt": "0004" }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contas.cadastros"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contas/#ExcluirConta": {
      "post": {
        "tags": ["Contas"],
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ExcluirConta"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contas.CRM_CONTAS_PESQUISA"
                    },
                    "example": [{ "cCodInt": "", "nCod": 0 }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contas.CRM_CONTAS_RESPOSTA"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contas/#IncluirConta": {
      "post": {
        "tags": ["Contas"],
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["IncluirConta"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contas.cadastros"
                    },
                    "example": [
                      {
                        "endereco": {
                          "cCEP": "04583-110",
                          "cCidade": "SAO PAULO",
                          "cEndereco": "Av. Dr. Chucri Zaidan, 1550",
                          "cPais": "Brasil",
                          "cUF": "SP"
                        },
                        "identificacao": {
                          "cCodInt": "22461",
                          "cNome": "Omiexperience S/A",
                          "cObs": "Conta adicionada via API",
                          "dDtReg": "27/04/2024",
                          "dDtValid": "03/08/2024"
                        },
                        "telefone_email": {
                          "cDDDTel": "11",
                          "cEmail": "ajuda@omie.com.br",
                          "cNumTel": "5171-8888",
                          "cWebsite": "http://www.omie.com.br/"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contas.CRM_CONTAS_RESPOSTA"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contas/#ListarContas": {
      "post": {
        "tags": ["Contas"],
        "description": "Lista as contas do CRM.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ListarContas"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contas.contaListarRequest"
                    },
                    "example": [{ "pagina": 1, "registros_por_pagina": 20 }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contas.contaListarResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contas/#UpsertConta": {
      "post": {
        "tags": ["Contas"],
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["UpsertConta"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contas.cadastros"
                    },
                    "example": [
                      {
                        "endereco": {
                          "cCEP": "04583-110",
                          "cCidade": "SAO PAULO",
                          "cEndereco": "Av. Dr. Chucri Zaidan, 1550",
                          "cPais": "Brasil",
                          "cUF": "SP"
                        },
                        "identificacao": {
                          "cCodInt": "0004",
                          "cNome": "Omiexperience S/A",
                          "cObs": "Conta adicionada via API (1714230963)",
                          "dDtReg": "27/04/2024",
                          "dDtValid": "02/09/2024"
                        },
                        "telefone_email": {
                          "cDDDTel": "11",
                          "cEmail": "ajuda@omie.com.br",
                          "cNumTel": "5171-8888",
                          "cWebsite": "http://www.omie.com.br/"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contas.CRM_CONTAS_RESPOSTA"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contas/#VerificarConta": {
      "post": {
        "tags": ["Contas"],
        "description": "Verifica se uma conta foi criada a partir do nome e e-mail.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["VerificarConta"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contas.contaVerificarRequest"
                    },
                    "example": [{ "cEmail": "", "cNome": "" }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contas.contaVerificarResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contascaract/#AlterarCaractConta": {
      "post": {
        "tags": ["Contas - Características"],
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["AlterarCaractConta"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contascaract.AlterarCaractCRMContaRequest"
                    },
                    "example": [
                      { "cCodInt": "", "campo": "", "conteudo": "", "nCod": 0 }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contascaract.AlterarCaractCRMContaResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contascaract/#ConsultarCaractConta": {
      "post": {
        "tags": ["Contas - Características"],
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ConsultarCaractConta"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contascaract.ConsultarCaractCRMContaRequest"
                    },
                    "example": [{ "cCodInt": "", "nCod": 0 }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contascaract.ConsultarCaractCRMContaResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contascaract/#ExcluirCaractConta": {
      "post": {
        "tags": ["Contas - Características"],
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ExcluirCaractConta"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contascaract.ExcluirCaractCRMContaRequest"
                    },
                    "example": [{ "cCodInt": "", "campo": "", "nCod": 0 }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contascaract.ExcluirCaractCRMContaResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contascaract/#ExcluirTodasCaractConta": {
      "post": {
        "tags": ["Contas - Características"],
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ExcluirTodasCaractConta"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contascaract.ExcluirTodasCaractCRMContaRequest"
                    },
                    "example": [{ "cCodInt": "", "nCod": 0 }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contascaract.ExcluirTodasCaractCRMContaResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contascaract/#IncluirCaractConta": {
      "post": {
        "tags": ["Contas - Características"],
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["IncluirCaractConta"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contascaract.IncluirCaractCRMContaRequest"
                    },
                    "example": [
                      { "cCodInt": "", "campo": "", "conteudo": "", "nCod": 0 }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contascaract.IncluirCaractCRMContaResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contatos/#AlterarContato": {
      "post": {
        "tags": ["Contatos"],
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["AlterarContato"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contatos.cadastros"
                    },
                    "example": [
                      {
                        "endereco": {
                          "cBairro": "",
                          "cCEP": "",
                          "cCidade": "",
                          "cCompl": "",
                          "cEndereco": "",
                          "cPais": "",
                          "cUF": ""
                        },
                        "identificacao": {
                          "cCargo": "",
                          "cCodInt": "",
                          "cNome": "",
                          "cSobrenome": "",
                          "dDtNasc": "",
                          "nCodConta": 0,
                          "nCodVend": 0
                        },
                        "telefone_email": {
                          "cDDDCel1": "",
                          "cEmail": "",
                          "cNumCel1": "",
                          "cWebsite": ""
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contatos.CRM_CONTATOS_RESPOSTA"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contatos/#ConsultarContato": {
      "post": {
        "tags": ["Contatos"],
        "description": "Consulta o Contato",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ConsultarContato"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contatos.CRM_CONTATOS_PESQUISA"
                    },
                    "example": [{ "cCodInt": "", "nCod": 1 }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contatos.cadastros"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contatos/#ExcluirContato": {
      "post": {
        "tags": ["Contatos"],
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ExcluirContato"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contatos.CRM_CONTATOS_PESQUISA"
                    },
                    "example": [{ "cCodInt": "", "nCod": 0 }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contatos.CRM_CONTATOS_RESPOSTA"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contatos/#IncluirContato": {
      "post": {
        "tags": ["Contatos"],
        "description": "Inclui um novo Contato",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["IncluirContato"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contatos.cadastros"
                    },
                    "example": [
                      {
                        "endereco": {
                          "cBairro": "",
                          "cCEP": "",
                          "cCidade": "",
                          "cCompl": "",
                          "cEndereco": "",
                          "cPais": "",
                          "cUF": ""
                        },
                        "identificacao": {
                          "cCargo": "",
                          "cCodInt": "",
                          "cNome": "",
                          "cSobrenome": "",
                          "dDtNasc": "",
                          "nCodConta": 0,
                          "nCodVend": 0
                        },
                        "telefone_email": {
                          "cDDDCel1": "",
                          "cEmail": "",
                          "cNumCel1": "",
                          "cWebsite": ""
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contatos.CRM_CONTATOS_RESPOSTA"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contatos/#ListarContatos": {
      "post": {
        "tags": ["Contatos"],
        "description": "Lista os contatos do CRM.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ListarContatos"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contatos.contatoListarRequest"
                    },
                    "example": [{ "pagina": 1, "registros_por_pagina": 50 }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contatos.contatoListarResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contatos/#UpsertContato": {
      "post": {
        "tags": ["Contatos"],
        "description": "Upsert do contato",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["UpsertContato"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contatos.cadastros"
                    },
                    "example": [
                      {
                        "endereco": {
                          "cBairro": "",
                          "cCEP": "",
                          "cCidade": "",
                          "cCompl": "",
                          "cEndereco": "",
                          "cPais": "",
                          "cUF": ""
                        },
                        "identificacao": {
                          "cCargo": "",
                          "cCodInt": "",
                          "cNome": "",
                          "cSobrenome": "",
                          "dDtNasc": "",
                          "nCodConta": 0,
                          "nCodVend": 0
                        },
                        "telefone_email": {
                          "cDDDCel1": "",
                          "cEmail": "",
                          "cNumCel1": "",
                          "cWebsite": ""
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contatos.CRM_CONTATOS_RESPOSTA"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/contatos/#VerificarContato": {
      "post": {
        "tags": ["Contatos"],
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["VerificarContato"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.contatos.contatoVerificarRequest"
                    },
                    "example": [{ "cEmail": "", "cNome": "" }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.contatos.contatoVerificarResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/fases/#ListarFases": {
      "post": {
        "tags": ["Fases"],
        "description": "Fases da Oportunidade",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ListarFases"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.fases.fasesListarRequest"
                    },
                    "example": [{ "pagina": 1, "registros_por_pagina": 20 }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.fases.fasesListarResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/finders/#ListarFinders": {
      "post": {
        "tags": ["Finders"],
        "description": "Finders da oportunidade.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ListarFinders"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.finders.finderListarRequest"
                    },
                    "example": [{ "pagina": 1, "registros_por_pagina": 20 }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.finders.finderListarResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/motivos/#ListarMotivos": {
      "post": {
        "tags": ["Motivos"],
        "description": "Motivos da oportunidade.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ListarMotivos"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.motivos.motivoListarRequest"
                    },
                    "example": [{ "pagina": 1, "registros_por_pagina": 20 }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.motivos.motivoListarResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/oportunidades-resumo/#ObterListaOp": {
      "post": {
        "tags": ["Oportunidades - Resumo"],
        "description": "Lista de Oportunidades.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ObterListaOp"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.oportunidades-resumo.ObterListaOpRequest"
                    },
                    "example": [
                      { "cMesAno": "04/2022", "cTemperatura": "em-processo" }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.oportunidades-resumo.ObterListaOpResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/oportunidades-resumo/#ObterResumoOp": {
      "post": {
        "tags": ["Oportunidades - Resumo"],
        "description": "Resumo das oportunidades.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ObterResumoOp"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.oportunidades-resumo.obterResumoOpRequest"
                    },
                    "example": [
                      {
                        "cMesAno": "02/2022",
                        "lApenasResumo": true,
                        "nIdParceiro": 0,
                        "nIdVendedor": 0
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.oportunidades-resumo.obterResumoOpResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/oportunidades/#AlterarOportunidade": {
      "post": {
        "tags": ["Oportunidades"],
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["AlterarOportunidade"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.oportunidades.opAlterarRequest"
                    },
                    "example": [
                      {
                        "identificacao": {
                          "cCodIntOp": "",
                          "cDesOp": "",
                          "nCodConta": 0,
                          "nCodContato": 0,
                          "nCodOp": 0,
                          "nCodOrigem": 0,
                          "nCodSolucao": 0,
                          "nCodVendedor": 0
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.oportunidades.opAlterarResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/oportunidades/#ConsultarOportunidade": {
      "post": {
        "tags": ["Oportunidades"],
        "description": "Consulta de oportunidade.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ConsultarOportunidade"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.oportunidades.opConsultarRequest"
                    },
                    "example": [{ "cCodIntOp": "", "nCodOp": 0 }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.oportunidades.opConsultarResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/oportunidades/#ExcluirOportunidade": {
      "post": {
        "tags": ["Oportunidades"],
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ExcluirOportunidade"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.oportunidades.opExcluirRequest"
                    },
                    "example": [{ "cCodIntOp": "", "nCodOp": 0 }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.oportunidades.opExcluirResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/oportunidades/#IncluirOportunidade": {
      "post": {
        "tags": ["Oportunidades"],
        "description": "Incluir uma oportunidade.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["IncluirOportunidade"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.oportunidades.opIncluirRequest"
                    },
                    "example": [
                      {
                        "identificacao": {
                          "cCodIntOp": "",
                          "cDesOp": "",
                          "nCodConta": 0,
                          "nCodContato": 0,
                          "nCodOrigem": 0,
                          "nCodSolucao": 0,
                          "nCodVendedor": 0
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.oportunidades.opIncluirResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/oportunidades/#ListarOportunidades": {
      "post": {
        "tags": ["Oportunidades"],
        "description": "Lista de oportunidades.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
                  },
                  "app_secret": {
                    "title": "app_secret",
                    "type": "string",
                    "example": "{{app_secret}}"
                  },
                  "call": {
                    "title": "call",
                    "enum": ["ListarOportunidades"],
                    "type": "string"
                  },
                  "param": {
                    "title": "param",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/crm.oportunidades.opListarRequest"
                    },
                    "example": [{ "pagina": 1, "registros_por_pagina": 20 }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crm.oportunidades.opListarResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/crm/oportunidades/#UpsertOportunidade": {
      "post": {
        "tags": ["Oportunidades"],
        "description": "Upsert de oportunidade.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["app_key", "app_secret", "call", "param"],
                "type": "object",
                "properties": {
                  "app_key": {
                    "title": "app_key",
                    "type": "string",
                    "example": "{{app_key}}"
[...]
